@use "../../styels/variables" as *;

header {
    width: 100%;
    height: 14vh;
    background-color: $background-header;
    display: flex;
    flex-direction: column;
    padding: 0 2vh 0 2vh;
    border-bottom: 2px solid $header-border;

}

.linksBlock {
    height: 5vh;
    width: 100%;
    display: flex;
    margin-top: auto;
    gap: 40px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
    color: $text-1-color;
    font-size: 1.3rem;
    text-decoration: none;

    .hoverDiv {
        border-radius: 8px;
        display: flex;
        gap: 8px;
        padding: 8px;

        @media(hover: hover) {
            &:hover {
                background-color: $header-link-hover;
            }
        }
    }

    &.active {
        font-weight: 600;
    }
}